body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  /* padding: 20px; */
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
}

.card img {
  width: 100%;
  border-radius: 32px;
  margin-bottom: 15px; /* Şəkillərlə mətn arasında boşluq */
}

.card h2 {
  font-size: 30px;
  /* margin: 10px 0; */
  padding-left: 10px;
}

.card p {
  font-size: 25px;
  color: #666;
  margin: 5px 0;
}

.feedback-section {
  background-color: #fff;
  padding: 40px 20px;
  margin-top: 40px;
  text-align: left;
}
.feedback-section h1 {
  font-size: 55px;
}

.feedback-card {
  width: 791px;
  margin: 0;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-card p {
  font-style: italic;
  color: #555;
  font-size: 18px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.user-info strong {
  font-size: 1.2em;
  color: #333;
}

@media screen and (min-width: 991px) and (max-width: 1279px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media (max-width: 991px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  } */

@media (max-width: 991) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    /* padding: 15px; */
    margin: auto;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    font-size: 18px;
  }

  .feedback-section {
    padding: 20px 10px;
  }

  .feedback-card {
    padding: 15px;
  }

  .feedback-card p {
    font-size: 0.9em;
  }

  .user-info strong {
    font-size: 1em;
  }
}
